.container {
  padding: 1rem;
  border: .1rem solid var(--gray-2);
  display: flex;
  gap: 1rem;

  .theme-image-container {
    flex: 1;

    .theme-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .theme-info {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name-container {
      margin-top: 1rem;

      .name-english {
        color: var(--gray-2);
        font-family: 'Pretendard';
        font-size: 1.1rem;
      }

      .description {
        display: flex;
        align-items: end;
        gap: 1rem;

        .name-korean {
          color: var(--gray-1);
          font-family: 'Pretendard';
          font-size: 2rem;
        }

        .running-time {
          padding: .2rem 1rem;
          border: .2rem solid var(--gray-2);
          border-radius: 2rem;
          font-size: .9rem;
        }
      }
    }

    .ability-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background: linear-gradient(90deg, var(--gray-3, rgba(237, 237, 239, 0.35)) 1%, var(--black, rgba(237, 237, 239, 0.04)) 100%);

      .ability {
        display: flex;
        align-items: center;
        padding: .5rem;
        font-size: 1.2rem;
        gap: .5rem;

        .text {
          font-size: .9rem;
        }

        .icon {
          flex: 1;
          display: flex;
          gap: .1rem;
        }
      }
    }
  }

  .border {
    width: 80%;
    height: 0.2rem;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0) 100%);
  }

  .difficulty-container {
    margin-top: 2rem;
    margin-bottom: 1rem;

    .difficulty-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .5rem 0;
      width: 80%;

      .difficulty-text {
        font-size: 1rem;
        color: var(--gray-1);
        font-family: 'Pretendard-SemiBold';
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .icon-container {
    flex: .1;
    position: relative;

    svg {
      position: absolute;
      top: 30%;
    }
  }
}
